<% content_for :subtitle do %>
	<h1> <%= t('application.moviment') %></h1>
<% end %>

<div class="row">
	<div class="span11">
		<div class="well"> 
			<%= render :partial => 'expenses/expenses', :locals => { expenses:@expenses},  %>
		</div>
		<div class="well">
			<%= render :partial => 'incomes/incomes', :locals => { expenses:@incomes},  %>		
		</div>
	</div>
	<%= render :partial => 'shared/balance', :locals => {:balance => @balance, } %>
</div>

<%= render :partial => 'shared/modal', :locals => { id:'expense', title:'Novo Pagamento', renderize:'expenses/form', locals:{} }  %>
<%= render :partial => 'shared/modal', :locals => { id:'income', title:'Novo Recebimento', renderize:'incomes/form', locals:{} }  %>