<h2> Receita </h2>
<table id="incomes">
  <thead>
  	<tr>
	    <th>#</th>	
	    <th>Montante</th>
			<th>Categoria</th>
	    <th>Data de Credito</th>
	    <th>Descricação</th>
		<th><%= link_to image_tag('/assets/form/add-action.png'), new_income_path, method: :get, :remote => true %></th>
	  </tr>
	</th>
  </thead>
  <tbody>
	<% @incomes.each do |income| %>
	  <tr id="<%= income.id %>">
		<td>#</td>
	    <td><%= number_to_currency income.amount %></td>
			<% if income.category %>
				<td><span class="label" style="background-color:<%= income.category.color %>"><%= income.category.description %></span></td>
			<% else %>
				<td></td>
			<% end %>
	    <td><%= income.date_of_credit.strftime "%d/%m/%Y" %></td>
	    <td><%= income.description %></td>
		<td class="action"><%= render :partial => 'shared/actions', :locals => { :model => income, :edit_path => edit_income_path(income)} %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
<h3> <%= "Total: #{number_to_currency Income.amount}" %> </h3>
