<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :description %>
    <%= f.input :color %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
