<%= simple_form_for @expense, :wrapper => :stacked, :remote => true do|f| %>

  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :amount, :input_html => { :class => "money", :alt => 'decimal', :value => number_with_precision(@expense.amount, :precision => 2), :class => "span3"} %>
    <%= f.input :due_date, :as => :date_picker, :input_html => { :class => "span2"} %>
    <%= f.input :description %>
		<%= f.input :category do  %> 
			<%= f.select :category_id, @categories.map { |c| [c.description, c.id] }, :prompt => "Selecione Categoria", :class => "span2" %>
			<%= link_to image_tag('/assets/form/add-action.png'), new_category_path, method: :get, :remote => true  %>
		<% end %>
		<div id="category"/>
  </div>
  <div class="actions">
    <%= f.button :submit, "data-toggle"=>"toggle", "data-loading-text" => "Enviando ..." %>
  </div>
<% end %>

